.skills-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.skills-section {
  width: 50%; 
}

.skills-section h2{
  margin-left: 25px;
}

.save-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  margin-left: auto;
  margin-right: 20px;
}

.save-button:hover {
  background-color: #0056b3;
}

.button {
  width: 100%;
  display: flex;
}