@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&display=swap');
@import "trix/dist/trix.css";

body {
  margin: 0px;
  font-family: "Bricolage Grotesque", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}
