.skills-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
    // width: 50%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .skill-tag {
    background-color: #f0f0f0;
    color: #333;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
    cursor: pointer;
  }
  
  .remove-btn {
    margin-left: 5px;
    border: none;
    background-color: transparent;
    color: #666;
    cursor: pointer;
  }
  
  
  
  .cross {
    color: white;
    background-color: #007bff;
  }
  
  .tick {
    color: white;
    background-color: #00b894; /* green shade */
  }
  
  .cross::after {
    content: '✕';
    padding-left: 4px;
    font-weight: bold;
  }
  
  .tick::after {
    content: '✔'; 
    padding-left: 4px;
    font-weight: bold;
  }
  
  .cross::after,
  .tick::after {
    font-size: 14px;
    line-height: 14px;
  }
  
  .cross::after {
    color: white; /* White color for cross symbol */
  }
  
  .tick::after {
    color: white; /* White color for tick symbol */
  }
  
  .selected-skills {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    min-height: 40px; /* Set a minimum height */
    border-bottom: 1px solid black;
  }
  
  .available-skills {
    display: flex;
    flex-wrap: wrap;
    
  }
  