.chat-list-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.chat-list-button {
  padding: 10px;
  background-color: #0073b1;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.arrow {
  margin-right: 5px;
}

.chat-list-expanded {
  position: fixed;
  bottom: 90px;
  right: 20px;
  width: 300px;
  background-color: white;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensure it's above other content */
}

.chat-room-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.chat-room-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #d1d1d1;
}

.chat-profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.room-details {
  flex-grow: 1;
}

.room-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.room-name {
  font-weight: bold;
}

.unread-messages {
  background-color: #0073b1;
  color: white;
  padding: 2px 5px;
  border-radius: 10px;
}

.last-message {
  font-size: 14px;
  color: #666666;
}
.message-details{
  display: flex;
  justify-content: space-between;
}
.time {
  font-size: 12px;
  color: #666666;
  align-self: flex-end;
}
